<div style="background-image:../../../assets/images/art.jpg ;">

</div>
  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col d-flex align-item-left justify-contact-center">
          <br><br><p><b>Indian art consists of a variety of art forms, including painting, sculpture, pottery, and textile arts 
          such as woven silk. Geographically, it spans the entire Indian subcontinent, including what is now India, 
          Pakistan, Bangladesh, Sri Lanka, Nepal, and at times eastern Afghanistan. A strong sense of design is
          characteristic of Indian art and can be observed in its modern and traditional forms.</b></p>
        </div>
      </div>
